<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Normalize -->
    <link rel="stylesheet" href="/css/normalize.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Iconic CSS -->
    <link href="/css/iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/css/fontawesome/css/all.css">

    <!-- JQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- JQuery Masks -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
    <title>Sublime</title>
    
    <link rel="icon" type="image/png" href="/img/icon.png">
  </head>